@page "/floodreport/contacts/create"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-l">@Title</h1>

<GdsSpinner Show="_isLoading" />

@if (!_isLoading)
{
    if(_floodReportId == Guid.Empty)
    {
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <span>Sorry there was a problem setting up contacts. Please try again but if this issue happens again then please report a bug.</span>
        </p>
    } else
    {
        <AuthorizeView Context="authContext">
            <NotAuthorized>
                <GdsNotificationBanner NotificationType="GdsNotificationBanner.NotificationTypeOption.info"
                                       BannerTitleSize="GdsNotificationBanner.BannerSizeOption.small"
                                       BannerTitle="Important">
                    You must sign up to edit records after they are sent.
                    <a class="govuk-notification-banner__link" href="#">Register / Sign in</a>.
                </GdsNotificationBanner>
            </NotAuthorized>
        </AuthorizeView>

        <EditForm EditContext="_editContext" OnSubmit="OnSubmit" FormName="CreateContact" novalidate>
            @* <FluentValidationValidator /> This form needs to only validate on submit due to a validation glitch*@
            <GdsErrorSummary />

            <ContactInformation Contact="_contactModel" FloodReportId="_floodReportId" ContactTypes="ContactTypes" />

            <div class="govuk-button-group">
                <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Save</button>
                <a draggable="false" data-prevent-double-click="true" class="govuk-link govuk-link--no-visited-state" href="@ContactPages.Summary.Url">Cancel</a>
            </div>
        </EditForm>
    }
}
