@page "/Account/SignedOut"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>You've been signed out</PageTitle>

<h3>You've been signed out</h3>

<p>You must log back in to use this site</p>
