@page "/account/signout"

<PageTitle>@Title</PageTitle>

<h1 class="govuk-heading-xl">@Title</h1>

<GdsSpinner Show="true" ShowMessage="true" Message="Signing out..." />

<script src="@Assets["js/components/signout.js"]"></script>
