@page "/floodreport/create/cause"

<PageTitle>@FloodReportCreatePages.Cause.Title</PageTitle>

<GdsBackLink Href="@PreviousPage?.Url"></GdsBackLink>

<h1 class="govuk-heading-xl">@FloodReportCreatePages.Cause.Title</h1>

<EditForm EditContext="_editContext" OnSubmit="OnSubmit" FormName="CauseForm">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <GdsFormGroup For="() => Model.CauseOptions" Show="!_isLoading">
        <GdsFieldsetGroup>
            <Heading>
                <h2 class="govuk-fieldset__heading">Do you know where the water is coming from?</h2>
            </Heading>
            <Content>
                <GdsHint>Select all that apply</GdsHint>
                <GdsErrorMessage />
                <GdsCheckboxes Options="Model.CauseOptions" />
            </Content>
        </GdsFieldsetGroup>
    </GdsFormGroup>

    @if (!_isLoading)
    {
        <p><button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Continue</button></p>
    }

</EditForm>