@page "/floodreport/create/floodstarted"

<PageTitle>@Title</PageTitle>

<GdsBackLink Href="@PreviousPage.Url"></GdsBackLink>

<EditForm EditContext="_editContext" OnSubmit="OnSubmit" FormName="FloodStarted">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <GdsInputDate Id="flood-start" For="() => Model.StartDate" Show="!_isLoading">
        <Heading>
            <h1 class="govuk-fieldset__heading">When did the flooding start?</h1>
        </Heading>
        <Hint>For example, 27 3 2024</Hint>
    </GdsInputDate>

    <GdsFormGroup For="() => Model.IsFloodOngoing" Show="!_isLoading">
        <InputRadioGroup @bind-Value="Model.IsFloodOngoing">
            <GdsFieldsetGroup>
                <Heading>
                    <h2 class="govuk-fieldset__heading">Is the flooding ongoing?</h2>
                </Heading>
                <Content>
                    <GdsHint>Select one option.</GdsHint>
                    <GdsErrorMessage />
                    <GdsRadios Options="_floodOngoingOptions" Inline="true" />
                </Content>
            </GdsFieldsetGroup>
        </InputRadioGroup>
    </GdsFormGroup>

    @if (!_isLoading)
    {
        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Continue</button>
    }

</EditForm>
