@page "/floodreport/create/floodsource"
@using FloodOnlineReportingTool.Public.Components.Pagination

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-xl">@Title</h1>

<EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit" FormName="FloodSource">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <GdsFormGroup For="() => Model.FloodSourceOptions" Show="!_isLoading">
        <GdsFieldsetGroup>
            <Heading>
                <h2 class="govuk-fieldset__heading">Do you know where the water is coming from?</h2>
            </Heading>
            <Content>
                <GdsHint>Select all that apply</GdsHint>
                <GdsErrorMessage />
                <GdsCheckboxes Options="Model.FloodSourceOptions" />
            </Content>
        </GdsFieldsetGroup>
    </GdsFormGroup>

    @if (!_isLoading)
    {
        <PaginationBlock>
            <PaginationNext OnNextPage="() => OnValidSubmit()" Label="@FloodReportCreatePages.Summary.Title" />
            <PaginationPrevious OnPreviousPage="OnPreviousPage" Label="@PreviousPage.Title" />
        </PaginationBlock>
    }

</EditForm>