@page "/floodreport/create/floodsecondarysource"
@using FloodOnlineReportingTool.Public.Components.Pagination

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-xl">@Title</h1>

<EditForm EditContext="_editContext" FormName="FloodSecondarySource">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <GdsFormGroup For="() => Model.FloodSecondarySourceOptions" Show="!_isLoading">
        <GdsFieldsetGroup>
            <Heading>
                <h2 class="govuk-fieldset__heading">Do you know where the water was running off from?</h2>
            </Heading>
            <Content>
                <GdsHint>Select all that apply</GdsHint>
                <GdsErrorMessage />
                <GdsCheckboxes Options="Model.FloodSecondarySourceOptions" />
            </Content>
        </GdsFieldsetGroup>
    </GdsFormGroup>

    @if (!_isLoading)
    {
        <PaginationBlock>
            <PaginationNext OnNextPage="() => OnValidSubmit(true)" Label="@FloodReportCreatePages.Summary.Title" />
            <PaginationPrevious OnPreviousPage="() => OnValidSubmit(false)" Label="@FloodReportCreatePages.FloodSource.Title" />
        </PaginationBlock>
    }

</EditForm>