@page "/floodreport/create"
@using FloodOnlineReportingTool.Public.Components.Pagination

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit" FormName="CreateFloodReport">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <GdsFormGroup For="() => Model.IsAddress" Id="location-or-address" Show="!_isLoading">
        <InputRadioGroup @bind-Value="Model.IsAddress">
            <GdsFieldsetGroup>
                <Heading>
                    <h1 class="govuk-fieldset__heading">Are you reporting an address or property?</h1>
                </Heading>
                <Content>
                    <GdsHint>This would be a location with a Royal Mail postal address rather than a structure or land.</GdsHint>
                    <GdsErrorMessage />
                    <GdsRadios Options="_isAddressOptions" />
                </Content>
            </GdsFieldsetGroup>
        </InputRadioGroup>
    </GdsFormGroup>

    @if (!_isLoading)
    {
        <PaginationBlock>
            <PaginationNext OnNextPage="() => OnValidSubmit()" Label="@GetNextPage().Title" />
            <PaginationPrevious OnPreviousPage="OnPreviousPage" Label="@PreviousPage.Title" />
        </PaginationBlock>
    }

</EditForm>