@page "/floodreport/create/location"
@using FloodOnlineReportingTool.Public.Components.Pagination
@using Microsoft.JSInterop

<HeadContent>
    <link rel="stylesheet" href="/css/maplibre-gl.css">
</HeadContent>

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-l">@Title</h1>

<EditForm EditContext="_editContext" OnSubmit="OnSubmit" FormName="Location">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <div @ref="_map" class="map"></div>

    @if (!_isLoading)
    {
        <p>Where is the flood located?</p>
        <p>Click on the map to choose the location.</p>

        @if (Model.IsAddress == false)
        {
            <GdsFormGroup For="() => Model.LocationDesc">
                <GdsLabel Text="Describe the location selected" />
                <GdsHint>For example: Barn in far field</GdsHint>
                <GdsErrorMessage />
                <GdsInputText @bind-Value=Model.LocationDesc class="govuk-input govuk-input--width-50" />
            </GdsFormGroup>
        }

        <div>
            <PaginationBlock>
                <PaginationNext OnNextPage="() => OnSubmit()" Label="@GetNextPage(true).Title" />
                @if (!FromSummary)
                {
                    <PaginationPrevious OnPreviousPage="OnPreviousPage" Label="@PreviousPage.Title" />
                }
            </PaginationBlock>
        </div>
    }

</EditForm>
