@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<GdsHeader ServiceName="Flood Reporting" ServiceUrl="@GeneralPages.Home.Url" LogoUrl="@Assets["images/logos/logo.webp"]">
    <NavLinks>
        <AuthorizeView>
            <Authorized>
                <GdsHeaderNavLink Href="signout" Match="NavLinkMatch.All">Sign out</GdsHeaderNavLink>
            </Authorized>
            <NotAuthorized>
                <GdsHeaderNavLink Href="signin" Match="NavLinkMatch.All">Sign in</GdsHeaderNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </NavLinks>
</GdsHeader>
<div class="govuk-width-container">


    @if (!Env.IsProduction())
    {
        // Show development banner in all non-production environments
        <GdsPhaseBanner Phase="GdsPhaseBanner.Phases.Development" FeedbackText="" FeedbackLink="_feedbackUri" />
    }
    else
    {
        // Show appropriate banner (or none) in production environment
        <GdsPhaseBanner Phase="GdsPhaseBanner.Phases.Alpha" FeedbackLink="_feedbackUri" />
    }
    <SectionOutlet SectionName="Layout.GdsBreadcrumbs" />

    <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
        @Body
    </main>
</div>

<GdsFooter />

@code {
    [Inject]
    public IWebHostEnvironment Env { get; set; } = default!;

    private readonly Uri _feedbackUri = new("https://dorset-self.achieveservice.com/service/flood-reporting-tool-feedback");
}