$govuk-new-typography-scale: true;

// Use our image for the copyright notice
$govuk-footer-crest-image-width: 188px;
$govuk-footer-crest-image-height: 80px;
$govuk-footer-crest-image-width-2x: $govuk-footer-crest-image-width * 2;
$govuk-footer-crest-image-height-2x: $govuk-footer-crest-image-height * 2;
$copyright-image: "./logos/copyright.webp";
$copyright-retina-image: "./logos/copyright-x2.webp";

$govuk-assets-path: "/__GOVUK_ASSETS_PATH_BASE__/assets/";

@import "govuk-frontend/dist/govuk";

// Adjust the header logo to make the focus link colour cover the entire logo
.govuk-header__link--homepage {
    @include govuk-media-query($from: desktop) {
        display: inline-block;
    }
}

// Use our image for the copyright notice
.govuk-footer__copyright-logo {
    min-width: $govuk-footer-crest-image-width;
    background-size: $govuk-footer-crest-image-width $govuk-footer-crest-image-height;
    background-image: govuk-image-url($copyright-image);

    @include govuk-device-pixel-ratio {
        background-image: govuk-image-url($copyright-retina-image);
    }
}

// Make GDS errors without links look like errors
.govuk-error-summary__list {
    li {
        @include govuk-typography-weight-bold;
        color: govuk-colour("red");
    }
}

// related content section
section.related-navigation, .related-navigation {
    border-top: 2px solid govuk-colour("blue");

    @include govuk-media-query($media-type: print) {
        display: none !important;
    }

    @include govuk-media-query($from: tablet) {
        padding: 0;
    }

    h2, h3, h4 {
        margin-top: govuk-spacing(3);
    }
}
