<CascadingValue Value="@true" Name="PaginationStyleBlock">
    <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
        @ChildContent
    </nav>
</CascadingValue>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
}