@page "/cookies"
@using FloodOnlineReportingTool.Database.Options
@using Microsoft.Extensions.Options
@inject IOptions<GISOptions> GISOptions

<PageTitle>Cookies</PageTitle>

<GdsBreadcrumbs Items="[GeneralPages.Home.ToGdsBreadcrumb()]" />

<h1 class="govuk-heading-xl">Cookies</h1>
<div>
    <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
    <p>We use some essential cookies to make this website work.</p>
</div>

<h2 class="govuk-heading-l">Analytics cookies</h2>
<div>
    <p>
        We don't use cookies for marketing purposes but we do collect anonymised statistics
        using <a href="@WebStatisticsProviderUrl">@WebStatisticsProviderName</a>.
        These cookies are anonymised and cannot be traced back to you.
    </p>
</div>

<h2 class="govuk-heading-l">Session storage</h2>
<div>
    <p>
        This website uses session storage in your browser to store answers while you are completing a flood report. Session 
        storage is similar to a cookie but is only stored on your own device. Session storage is not shared 
        between browsers or devices and is deleted when closing your browser.
    </p>
</div>

<h2 class="govuk-heading-l">How long we keep your data</h2>
<div>
    <p>
        Personal data you give us (contact details, comments and media) is kept for a maximum of @(DataRetentionYears) years.
        Data about the flood itself including the address or location is kept for as long as needed.
    </p>
    <p><a href="/privacy">Find out more about how we use your data.</a></p>
</div>

@code {
    private GISOptions options => GISOptions.Value;
    private int DataRetentionYears => options.DataRetentionYears;
    private string WebStatisticsProviderName => options.WebStatisticsProviderName;
    private Uri WebStatisticsProviderUrl => options.WebStatisticsProviderUrl;
}
