@page "/cookies"

<PageTitle>Cookies</PageTitle>

<GdsBreadcrumbs Items="[GeneralPages.Home.ToGdsBreadcrumb()]" />

<h1 class="govuk-heading-xl">Cookies</h1>

<h2 class="govuk-heading-l">Cookies on FORT</h2>
<div>
    <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
    <p>We use cookies to collect and store information about how you use the FORT website, such as the pages you visit.</p>
    <p>We use secure session and time limited cookies to record whether or not a user is logged in.</p>
</div>

<h2 class="govuk-heading-l">Third-party cookies</h2>
<div>
    <p>FORT does not use cookies for marketing purposes but does collect anonymised statistics via Google Analytics.</p>
    <p>
        The Google cookies are anonymised and cannot be traced back to you.
        Learn more about <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google Analytics cookies</a>
    </p>
</div>

<h2 class="govuk-heading-l">Site personalisation</h2>
<div>
    <p>
        FORT uses an HTML5 feature called Session storage to store answers from forms with multiple pages.
    </p>
    <p>
        Session storage is very similar to a cookie but is more secure and faster as the settings are not sent to our servers with every request like a cookie but is stored locally within your browser cache.
    </p>
    <p>
        Session storage is not shared between browsers or computers and is deleted when clearing your "Offline Web Site Data".
    </p>
</div>

<h2 class="govuk-heading-l">What are my options?</h2>
<div>
    <p>
        Unfortunately the site would not function correctly without the use of cookies therefore you must accept the use of cookies to use this site.
    </p>
</div>
