@page "/privacy"

<PageTitle>Privacy</PageTitle>

<GdsBreadcrumbs Items="[GeneralPages.Home.ToGdsBreadcrumb()]" />

<h1 class="govuk-heading-xl">Privacy</h1>

<h2 class="govuk-heading-l">What data is collected</h2>
<div>
    <p>
        The <abbr title="Flood online reporting tool">FORT</abbr> website collects property / location data on flooding to allow authorities to undertake their legal duties.
        The answers you give regarding the location and source of flooding are used to ensure that your report reaches the correct authority.
    </p>
    <p>
        The system will not keep contact information or comments and media containing personal data for longer than 7 years unless by agreement with you and where a reason can be provided for the extension request.
        Personal data may be removed in advance of this by the relevant record lead.
        You will be notified once your record can no longer be edited unless re-activated by a registered <abbr title="Flood online reporting tool">FORT</abbr> user.
    </p>
    <p>
        Where personal data is provided; the Data Protection Act requires that we define the lawful basis by which personal data will be processed.
        <abbr title="Flood online reporting tool">FORT</abbr> processes data under 'Public Task' in order to perform a task in the public interest, for official functions.
        Data collected on this site is used to fulfil the Lead Local Flood Authority (<abbr title="Lead local flood authority">LLFA</abbr>) functions as set out in the Flood and Water Management Act of 2010.
    </p>
</div>

<h2 class="govuk-heading-l">Who is processing personal data?</h2>
<div>
    <p>
        You are responsible for the content you upload to the <abbr title="Flood online reporting tool">FORT</abbr> website however once uploaded the <abbr title="Flood online reporting tool">FORT</abbr> web application (administered by Dorset Council under the GeoWessex Partnership) takes on the role of data processor.
        The maintainer of the website will only use personal data to contact you should a system error occur.
    </p>
    <p>
        The data collected by the system under the Flood and Water Management Act (2010) is passed to the relevant <abbr title="Lead local flood authority">LLFA</abbr> who act as the data controller for the dataset.
        In some cases, they may share this responsibility with other risk management organisations such as the Environment Agency and utility companies.
        Other organisations investigating flood events may also be given access as required but will not be given access to personal data.
    </p>
    <p>
        Queries relating to your data should be addressed directly to the relevant data controller in the first instance and each organisation using <abbr title="Flood online reporting tool">FORT</abbr> will provide their own privacy statement in addition to this one which relates to the wider application.
    </p>
</div>

<h2 class="govuk-heading-l">Who will the data be shared with?</h2>
<div>
    <p>
        Data submitted on the <abbr title="Flood online reporting tool">FORT</abbr> website is shared between Lead Local Flood Authorities, the Environment Agency, emergency services and other organisations who need the data to assist them with analysis, planning or emergency response to flooding.
        It may be used to plan future flood defence schemes and to inform the public about whether there is a risk of flooding in an area.
        All non-personal data is also subject to Freedom of Information and Environmental Information Requests as set out in the relevant regulations.
    </p>
    <p>
        Personal data is only available to record leads however as this can change during an investigation all the privacy statements for the geographical area are provided.
    </p>
    <p>
        We will not share your personal data with external companies or use it for marketing purposes unless you have agreed for this to happen.
        This currently only applies to media where you are given the option to permit us to use it in publications.
    </p>
</div>

<h2 class="govuk-heading-l">Protecting your personal data</h2>
<div>
    <p>
        Please ensure that all personal data is removed from all comments (except where specifically permitted) and that all media is edited so that no living person can be identified.
        Any personal data placed in the media or incorrect comment fields will be removed by authorised <abbr title="Flood online reporting tool">FORT</abbr> users prior to being shared with all the project partners.
    </p>
    <p>
        Data will be retained until the relevant risk authority no longer deems it required to process the record, or for a maximum period of 7 years.
        Status fields are used to determine when a report has been processed and this may be set prior to the seven-year period and in such cases the personal data shall be removed.
    </p>
    <p>
        Should a report still be actively under investigation or subject to a grant application this period may be extended as required to fulfil any official function or meet a legal obligation, however you will be informed of this in writing or by email by the relevant risk authority.
    </p>
    <p>
        Please refer to their individual privacy statements for more information on this and for details of any other ways that they may wish to use personal data.
    </p>
</div>

<h2 class="govuk-heading-l">Will all records be investigated?</h2>
<div>
    <p>
        All authorities will prioritise workloads and in some cases reports will be used for statistical analysis but not individually investigated.
        In such cases all contact details and any comments or media containing personal data will be permanently deleted at the end of the retention period.
    </p>
</div>

<h2 class="govuk-heading-l">Access, deletion and updating of records</h2>
<div>
    <p>
        You can update your report for as long as the record is being processed.
        This will allow you to remove personal data but a historical copy of the original text will be retained until the processing is completed or the data retention period is exceeded.
        It is only possible to completely remove a record if it can be proved that the record was incorrectly entered and it may not be possible if the data has been used in a report.
        In such cases it is possible to record an updated version to prevent its inclusion in further reports and analysis.
    </p>
</div>

<p>
    <strong>Please Note:</strong> we use email as the primary method of communication relating to processing of your report.
    You will be sent details of how to access and update your record via an email from fort@dorsetcouncil.gov.uk.
    Should you wish to prevent further communication you should update your record and remove the email address.
</p>