@page "/privacy"
@using FloodOnlineReportingTool.Database.Options
@using Microsoft.Extensions.Options
@inject IOptions<GISOptions> GISOptions

<PageTitle>Privacy</PageTitle>

<GdsBreadcrumbs Items="[GeneralPages.Home.ToGdsBreadcrumb()]" />

<h1 class="govuk-heading-xl">Privacy</h1>

<div>
    <p>
        This notice explains what types of personal data we collect, how we use and keep your data safe and the rights 
        you have as an individual over what happens to your data.
    </p>
</div>

<h2 class="govuk-heading-l">What data is collected and what is it used for?</h2>
<div>
    <p>
        This website collects property and location data on flooding. We use the answers you give to make sure your report 
        reaches the correct authority. Data may be used to plan future flood defence schemes and to inform the public about 
        flood risks.
    </p>
    <p>
        We do not keep contact information, comments or media containing personal data for longer than 
        @(DataRetentionYears) years unless agreed with you and where there is a valid reason. Data about the flood itself 
        (including the address or location of where the flood happened) is kept for as long as needed and can help with 
        historic flood investigation work.
    </p>
</div>

<h2 class="govuk-heading-l">Who is processing personal data?</h2>
<div>
    <p>
        This website (administered by Dorset Council) takes on the role of data processor when you provide your data and 
        report a flood.
    </p>
    <p>
        Data collected is passed to the relevant Lead Local Flood Authority who acts as the data controller. 
        In some cases, they may share this responsibility with other risk management organisations such as 
        the Environment Agency and utility companies. Other organisations investigating floods may also look at the data 
        but will not be given access to personal information.
    </p>
</div>

<h2 class="govuk-heading-l">Who will the data be shared with?</h2>
<div>
    <p>
        Data submitted on this website is shared with:
        <ul class="govuk-list govuk-list--bullet">
            <li>Lead Local Flood Authorities</li>
            <li>Environment Agency</li>
            <li>emergency services</li>
            <li>
                other organisations who need the data to assist them with analysis, planning or emergency response
                to flooding
            </li>
        </ul>
    </p>
    <p>
        All non-personal data is subject to Freedom of Information and Environmental Information Requests.
    </p>
    <p>
        We will not share your personal data with external companies or use it for marketing purposes unless you have 
        agreed for this to happen. This currently only applies to media where you have permitted us to 
        use it in publications.
    </p>
</div>

<h2 class="govuk-heading-l">Lawful basis for processing data</h2>
<div>
    <p>
        The lawful basis for processing your information is explained below. For more information about lawful basis, see the <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/">ICO guidance</a>.
    </p>
    <p>
        <strong>Article 6.1(e) of the GDPR: “Public Task”</strong> “processing is necessary for the performance of a task
        carried out in the public interest or in the exercise of official authority vested in the controller”
    </p>
    <p>
        Data collected on this site is used to fulfil the Lead Local Flood Authority functions as detailed in the
        <a href="https://www.legislation.gov.uk/ukpga/2010/29/contents" class="govuk-link">Flood and Water Management Act 2010</a>.
    </p>
</div>

<h2 class="govuk-heading-l">Protecting your personal data</h2>
<div>
    <p>
        Any personal data in media or comments will be removed by authorised users or automated detectors before being 
        shared with project partners. This includes names in comments and faces in photos.
    </p>
    <p>
        Personal data will be retained until the relevant risk authority no longer needs it, or for a maximum period of 
        @(DataRetentionYears) years. If a flood report is actively under investigation or subject to a grant application, 
        this period may be extended as required.
    </p>
</div>

<h2 class="govuk-heading-l">Will all flood reports be investigated?</h2>
<div>
    <p>
        No, not all reports will be individually investigated and some will be used for statistical purposes.
    </p>
</div>

<h2 class="govuk-heading-l">Access, deletion and updating of records</h2>
<div>
    <p>
        In line with current laws you have a right to be forgotten and a right to accurate data. If you choose to 
        register when you report a flood, you can log in and update your personal details (contact details, comments and media) 
        at any time. If you choose not to register, the flood report will not include any personal data and you cannot change it 
        yourself. If you want to have your report removed, contact the relevant data controller (Lead Local Flood Authority) and 
        they will be able to help you with this.
    </p>
    <p>
        If you have any concerns about the way your data is being used, contact the relevant data controller in the first instance. 
        If you are not satisfied with their response, you can contact the 
        <a href="https://ico.org.uk/make-a-complaint/" class="govuk-link">Information Commissioner’s Office (ICO)</a> to make a complaint.
    </p>
</div>

@code {
    private int DataRetentionYears => GISOptions.Value.DataRetentionYears;
}