@page "/floodreport/contacts/subscribe"

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-l">@Title</h1>

<EditForm EditContext="_editContext" OnSubmit="OnSubmit" FormName="CreateSubscription">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsFormGroup For="() => Model.ContactName">
        <GdsLabel Text="Contact name" />
        <GdsErrorMessage />
        <GdsInputText @bind-Value="Model.ContactName" class="govuk-input govuk-input--width-20" spellcheck="false" autocomplete="name" />
    </GdsFormGroup>

    <GdsFormGroup For="() => Model.EmailAddress">
        <GdsLabel Text="Email address" />
        <GdsHint>
            <div>We’ll only use this to send you a confirmation and for updates on your case.</div>
            <div>Email addresses will be deleted within 6 months unless a further investigation is started.</div>
        </GdsHint>
        <GdsErrorMessage />
        <GdsInputText @bind-Value="Model.EmailAddress" class="govuk-input" type="email" spellcheck="false" autocomplete="email" aria-describedby="EmailAddress-hint" />
    </GdsFormGroup>

    <GdsFormGroup For="() => Model.ContactType">
        <InputRadioGroup @bind-Value="Model.ContactType">
            <GdsFieldsetGroup>
                <Heading>
                    <h2 class="govuk-fieldset__heading">Who are you?</h2>
                </Heading>
                <Content>
                    <GdsHint>Select one option.</GdsHint>
                    <GdsErrorMessage />
                    <GdsRadios Options="ContactTypes" />
                </Content>
            </GdsFieldsetGroup>
        </InputRadioGroup>
    </GdsFormGroup>

    <div class="govuk-button-group">
        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Save</button>
        <a draggable="false" data-prevent-double-click="true" class="govuk-link govuk-link--no-visited-state" href="@FloodReportCreatePages.Confirmation.Url">Cancel</a>
    </div>
</EditForm>