@page "/floodreport/investigation/communityimpact"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@Title</PageTitle>

<GdsBackLink Href="@PreviousPage.Url"></GdsBackLink>

<h1 class="govuk-heading-xl">@Title</h1>

<AuthorizeView Context="authContext">
    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>
    <Authorized>
        <EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit" FormName="InvestigationCommunityImpact">
            <FluentValidationValidator />
            <GdsErrorSummary />

            <GdsSpinner Show="_isLoading" ShowMessage="true" />

            @if (!_isLoading && Model.CommunityImpactOptions.Count <= 0)
            {
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> <span>The community impact options are missing, please refresh and try again. If this message continues to appear please raise a bug report.</span>
                </p>
            }

            <GdsFormGroup For="() => Model.CommunityImpactOptions" Show="!_isLoading">
                <GdsFieldsetGroup>
                    <Heading>
                        <h2 class="govuk-fieldset__heading">Did the flooding restrict parts of the community?</h2>
                    </Heading>
                    <Content>
                        <GdsHint>Select all that apply</GdsHint>
                        <GdsErrorMessage />
                        <GdsCheckboxes Options="Model.CommunityImpactOptions" />
                    </Content>
                </GdsFieldsetGroup>
            </GdsFormGroup>

            @if (!_isLoading)
            {
                <p><button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Continue</button></p>
            }
        </EditForm>
    </Authorized>
</AuthorizeView>
