name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - uses: oven-sh/setup-bun@v2
  
      - name: bun install
        run: bun install
        working-directory: ./FloodOnlineReportingTool.Public
        shell: bash

      - name: bun build
        run: bun run bun.build.ts --${{ inputs.environment }}
        working-directory: ./FloodOnlineReportingTool.Public
        shell: bash

      - run: dotnet restore

      - run: dotnet build --configuration Release --no-restore
  
      - run: dotnet test --no-build --configuration Release --verbosity normal